body {
  background-color: #222629;
  font-family: "Roboto Condensed", sans-serif;
}

hr {
  color: #21ce23;
  color: #21ce23;
  width: 50%;
}

button {
  display: inline-block;
  background-color: #222629;
  border: solid;
  border-color: #106611;
  border-width: thick;
  border-radius: 20%;
  color: #106611;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
}

button:hover {
  border-color: #21ce23;
  color: #21ce23;
}

div.hidden {
  display = none;
}

.titleText {
  font-size: 30px;
  color: #21ce23;
  text-align: center;
  padding-top: 10%;
}

.welcome {
  font-size: 50px;
  color: #21ce23;
  text-align: center;
  padding-top: 10%;
}

.buttons {
  text-align: center;
}
