body {
  background-color: #222629;
  font-family: "Roboto Condensed", sans-serif;
}

hr {
  border-color: #ff4500;
  width: 50%;
}

button {
  display: inline-block;
  background-color: #222629;
  border: solid;
  border-color: #b33000;
  border-width: thick;
  border-radius: 20%;
  color: #b33000;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
}

table, td, tr {
  border: solid;
  border-width: medium;
  border-color: #b33000;
  border-collapse: collapse;
  padding: 5px;
}

table {
  font-size: 20px;
  width: 60%;
  margin: auto;
}

button:hover {
  border-color: #ff4500;
  color: #ff4500;
}

div.hidden {
  display = none;
}

.titleText, .projectsText, .swimmingText {
  font-size: 30px;
  color: #ff4500;
  text-align: center;
  padding-top: 10%;
}

.borderlessButton {
  border: none;
}

.welcome {
  font-size: 50px;
  color: #ff4500;
  text-align: center;
  padding-top: 10%;
}

.buttons, .swimmingButtons {
  text-align: center;
}

.projectsList, .swimmingTimes, .swimmingMeets {
  width: 10%
  text-align: center;
  color: #b33000;
}

.backButton {
  text-align: center;
  bottom: 0;
}

html {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
